<%  if @edit_on_table_btn || [:add,:edit].include?(@edit_on_table) %>
  <%= tumiki_edit_on_table_buttom%>
<% end %>
<dev class="fl">
  <%= filtering_bootstrap @filter_list %>
</dev>
<div class="clearfix"></div>
